body {
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: #1c1a1a;
  
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 5em;
  font-weight: 900;
}

#container3D canvas {
  width: 100vw ;
  height: 100vh ;
  position: absolute;
  top: 0;
  left: 0;
}
